body{
    margin: 0;
    padding: 0;
    background-color: coral;
}

.container{
    background-color: black;
    color: blanchedalmond;
    height: 750px;
    width: 1200px;
    margin-top: 30px;
}

#name{
    font-size: 19;
}
#pass{
    font-size: 19;
}
#num{
    font-size: 19;
}
#email{
    font-size: 19;
}
#my{
    font-size: 19;
}

h1{
    text-align: center;
    color: wheat
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


